# App
NEXT_PUBLIC_APP_URL=http://localhost:3000

# Sentry Error Tracking
SENTRY_DSN=
SENTRY_ORG=thingvalla-technology
SENTRY_AUTH_TOKEN=

# GoatCounter Analytics
GOATCOUNTER_SITE_CODE=tsp-solver
GOATCOUNTER_API_TOKEN=
